{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
	<div class="row-fluid page-header">
			<h1> {{ couches_profile.get_best_identifier }} <small> Class of {{ couches_profile.graduation_year }} </small> </h1>
	</div>
	<div class="row-fluid">
		<div class="col-md-4">
			<div id="profile-map">
			</div>
		</div>
		<div class="col-md-8">
		<ul class="list-unstyled">
		</ul>
			{% if couches_profile.couches.all %}
				<h3> Addresses </h3>
				<ul>
					{% for couch in couches_profile.couches.all %}
						<li> 
							<blockquote> 
								<p><address> {{ couch.address }} </address> </p>
								<footer> {{ couch.formatted_address }} </footer>
							</blockquote>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	<div class="row-fluid">
		{% if couches_profile.contact_information %}
			<div class="col-md-6">
				<h3> Contact Information </h3>
				<p> 
				{{ couches_profile.contact_information }}
				</p>
			</div>
		{% endif %}
		{% if couches_profile.description %}
		<div class="col-md-6">
			<h3> Description </h3>
			<p>
			{{ couches_profile.description }}
			</p>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}