{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Nearby Couches' %}{% endblock %}

{% block content %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 200px; width: 400px }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1cJ3PQ6l2bR5Xspx6Qg5ROAxmPLjL0CQ">
</script>
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 1
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

        {% for couch in couches %}
        var couch{{ forloop.counter }} = new google.maps.Marker({
            position: new google.maps.LatLng({{ couch.latitude }}, {{ couch.longitude }}),
            map: map,
            title:"{{ forloop.counter }}",
            url: "{% url 'couches:couches_profile.detail' username=couch.owner.user.username %}"
        });
        {% endfor %}

    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>
<table>
    {% for couch in couches %}
    <tr>
        <td>{{ couch.owner }}</td>
        <td>{{ couch.lat }}, {{ couch.lon }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}