<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    <title>Macalester Worldwide network, travel with Macalester students. {% block title %}{% endblock %}</title>

	    <!-- This site uses the bootstrap css and javascript framework -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- end bootstrap -->
	</head>
	<body>
		<div class="row container">
		    {% block content %}

		    {% endblock %}
	    </div>
	    <div class="row container">
	    {% block footer %}

	    {% endblock %}
	    </div>
	</body>
</html>