<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Macalester Worldwide network, travel with Macalester students. {% block title %}{% endblock %}</title>

        <!-- jquery -->
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        <!-- end of jquery -->

        <!-- This site uses the bootstrap css and javascript framework -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!-- end bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/style.css'%}" />

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{% url 'home' %}" class="navbar-brand">Macalester WorldWide</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li> <p class="navbar-text"> Signed in as {{ user.get_best_identifier }} </p></li>
                    <li>
                        <form action="{% url 'auth.home' %}">
                            <input class="btn btn-success navbar-btn" type="submit" value="My account">
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'account_logout' %}">
                            <input class="btn btn-danger navbar-btn" type="submit" value="Sign out">
                        </form>
                    </li>
                {% else %}
                    <li>
                        <form action="{% url 'account_login' %}">
                            <input class="btn btn-primary navbar-btn" type="submit" value="Sign in">
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'account_signup' %}">
                            <input class="btn btn-primary navbar-btn" type="submit" value="Sign up">
                        </form>
                    </li>

                {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}

            {% endblock %}
            {% block footer %}

            {% endblock %}
            </div>
    </body>
</html>