{% extends "base.html" %}

{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="homepage-map">
    </div>

    <div id="homepage-info" class="container">
        <h1>Macalester around the world</h1>
        <p>Stay on the couches of Macalester students and alumni on your travels or host other interesting Macalester alumni on their travels.</p>
        {% if not user.is_authenticated %}
            <form action="{% url 'account_signup' %}">
                <input class="btn btn-primary navbar-btn" type="submit" value="Sign up to host and find hosts">
            </form>
        {% else %}
            <div class="input-group">
                <span class="input-group-addon">Search for couches:</span>
                <input type="text" class="form-control" placeholder="Location">
            </div>
        {% endif %}
    </div>

    <style type="text/css">
        #homepage-map{
            height: 100%;
            width: 100%;
            position:absolute;
            top: 50px;
            left: 0;
            z-index: 0;
        }
        #homepage-info{
            z-index: 1;
            opacity: 0.95;
            height: 50%;
            width: 50%;
        }
        #homepage-info h1{
            font-size: 3.3em;
        }
        #homepage-info p{
            font-size: 1.4em;
        }
    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1cJ3PQ6l2bR5Xspx6Qg5ROAxmPLjL0CQ">
    </script>
    <script type="text/javascript">
        {% if user.is_authenticated %}
            geocoder = new google.maps.Geocoder();

            function search(text){
                window.location.replace("http://stackoverflow.com");
            }
            
        {% endif %}

        function initialize() {

            var mapStyles = [
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        // { "hue": "#0011ff" },
                        // { "lightness": -58 }
                    ]
                },{
                    "featureType": "landscape",
                    "stylers": [
                        { "visibility": "simplified" },
                        // { "color": "#e6b139" }
                    ]
                },{
                    "elementType": "labels",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                },{
                    "featureType": "administrative",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                }
            ]

            var mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 2,
                disableDefaultUI: true,
                styles: mapStyles
            };
            var map = new google.maps.Map(document.getElementById("homepage-map"),
                    mapOptions);

            {% for couch in couches %}
                var couch{{ forloop.counter }} = new google.maps.Marker({
                    position: new google.maps.LatLng({{ couch.latitude }}, {{ couch.longitude }}),
                    map: map,
                    url: "{{ couch.owner.get_absolute_url }}",
                    title:"{{ couch.owner }}"
                });

                google.maps.event.addListener(couch{{ forloop.counter }}, 'click', function() {
                    window.location.href = couch{{ forloop.counter }}.url;
                });

            {% endfor %}
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

{% endblock %}