{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    <title>Macalester Worldwide network, travel with Macalester students. {% block title %}{% endblock %}</title>

	    <!-- This site uses the bootstrap css and javascript framework -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- end bootstrap -->
	</head>
	<body>
		<div class="row container">
            {% block login %}
            {% if user.is_anonymous %}
            <table>
                <form action="{% url 'user-login' %}" method="post">
                    {{ login_form.as_table }}
                    <tr><td><input type="submit" value="{% trans "Login" %}"></td></tr>
                    {% csrf_token %}
                </form>
            </table>
            <a href="{% url 'user-create' %}">{% trans 'Register' %}</a>
            {% else %}
            <p>{% trans "Current user: " %} <b>{{ user.get_full_name }}</b></p>
            <a href="{% url 'user-logout' %}">{% trans "Logout" %}</a>
            {% endif %}
            {% endblock %}


		    {% block content %}

		    {% endblock %}
	    </div>
	    <div class="row container">
	    {% block footer %}

	    {% endblock %}
	    </div>
	</body>
</html>